
  <h2  class="text-center w-100">Edit Post</h2>
  <div class="example-form-fields">
    <form [formGroup]="editForm">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="row">
            <label class="my-2" for="title">Text:</label>
            <mat-form-field>
              <input type="text" class="text-dark" matInput id="title" formControlName="text" required>
            </mat-form-field>
          </div>
          <div class="row">
            <label class="my-2" for="likes">Likes:</label>
            <mat-form-field>
              <input type="number" class="text-dark" matInput id="likes" formControlName="likes" required>
            </mat-form-field>
          </div>
          <div class="row">
            <label class="my-2" for="tags">Tags:</label>
            <mat-form-field>
              <input matInput class="text-dark" id="tags" formControlName="tags" placeholder="tags" required>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="action row d-flex align-items-center justify-content-center">
        <button class="col-6 m-auto btn btn-primary" type="submit" (click)="savePost()">Save Changes</button>
      </div>
    </form>
  </div>
